<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>

	<!-- JQuery -->
	<script type="text/javascript"
	src="/assets/js/jquery.js"></script>
</head>
<body>

<form>
	username: <br>
	<input type="text" id="login-username"><br>
	username: <br>
	<input type="text" id="login-password"><br>
	<button type="submit" id="login-btn">Submit</button>
</form>

            <!-- <script type="text/javascript" src="assets/js/main.js"></script> -->
    <script type="text/javascript" src="assets/js/logic.js"></script>

</body>
</html>