/* ---------- GENERAL ---------- */
body {
	background-color: #222;
}

.fill {
	/*http://lea.verou.me/css3patterns/*/

	background:
	radial-gradient(circle farthest-side at 0% 50%,#ffc942 23.5%,rgba(240,166,17,0) 0)42px 60px,
	radial-gradient(circle farthest-side at 0% 50%,#fb1 24%,rgba(240,166,17,0) 0)38px 60px,
	linear-gradient(#ffc942 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#ffc942 0)0 0,
	linear-gradient(150deg,#ffc942 24%,#fb1 0,#fb1 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#fb1 0,#fb1 76%,#ffc942 0)0 0,
	linear-gradient(30deg,#ffc942 24%,#fb1 0,#fb1 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#fb1 0,#fb1 76%,#ffc942 0)0 0,
	linear-gradient(90deg,#fb1 2%,#ffc942 0,#ffc942 98%,#fb1 0%)0 0 #fb1;
	background-size:80px 120px;

}

.clear {
	clear:both;
}

/* ---------- CSS ANIMATIONS ---------- */

/* *** ZOOM ANIMATION *** */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* ---------- NAVIGATION ---------- */

header {
	z-index:5;
}

#navbar-container {
	width:100%;
	margin:0 5% 0 5%;
}

.navbar-header {
	position:fixed;
	left:5%;
	text-align:left;
}

.navbar-nav {
	display:inline;
	position:fixed;
	float:right;
}

.navbar-nav li {
	float:left;
}

div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
	border:none;
}

ul.nav.navbar-nav.active {
	height:50px;

	float:right;
	display:block;
	position:fixed;
	right:5%;
}

nav.navbar.navbar-inverse.navbar-fixed-top.menu {
	position:fixed;
	top:0;
}

/* ---------- TOGGLE NAVIGATION ---------- */
.toggle-nav {
	display:none;
}

@media screen and (max-width:860px) {
	.menu {
		position:relative;
		display:inline-block;
		width:100%;
		margin:0 auto;
		top:0;
	}

	.menu li {
		width:100%;
		display:block;
		float:right;
	}


	.menu ul.active {
		display:none;
	}

	.menu ul {
		width:100%;
		position:absolute;
		top:100%;
		right:0px;
		background:#222;
		display:block;
		float:right;
	}

	.menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        right:22px;
        content:'';
        transform:translateY(0%, -100%);
        background-color: #222;
    }

	/* Nav Links */
    ul.navbar-nav {
    	width:100%;
    	margin:0 auto;
    	background-color: #222;
    	float:right;
    	display:block;
    }

    ul.navbar-nav a {
    	width:100%;
    	display:block;
    	text-align:right;
    	margin-right:5%;
    }

    /* Toggle Icon */
    .toggle-nav {
    	z-index:22;
        display:inline-block;
        background-color: #222;
        color:#ffc942;
        border:none;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#ffc942;
    }

}

/* ---------- TEXT ---------- */

* {
	font-family:"Glegoo", serif;
}

.navbar-header a {
	font-size:30px;
}

nav a {
	font-size: 20px;
}

nav ul {
	font-size:20px;
	color:#9d9d9d;
}

.carousel-caption h2 {
	font-size:52px;
	color:#222;
}

.carousel-caption p {
	font-size:30px;
	color:#222;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:active {
	color:#fb1;
}

.navbar-inverse .navbar-nav li.swapLink a {
	color:#fb1;
}

.navbar-inverse .navbar-nav li.swapLink a:hover, .navbar-inverse .navbar-nav li.swapLink a:active {
	color:#fff;
}

.modal input {
	color:#222;
}
/* ---------- INNER CAROUSAL BODY/CAPTION ---------- */

.carousel-caption {
	background-color: transparent;

	position:absolute;
	right:90%;
	left:10%;
	top:20%;
	
	width:25%;
	z-index:10;

	padding-top:30px;
	padding-bottom:30px;

	text-align:right;
}

.carousel-indicators li, .carousel-indicators li.active {
	width:30px;
	height:30px;
	border-radius:30px;
	background-color:#fff;
	margin:3%;
}

.carousel-indicators li:hover, .carousel-indicators li.active:hover {
	background-color:transparent;
}


/* ---------- MODAL ---------- */
.modal {
	position: fixed; /* Stay in place */
	z-index: 23; /* Sit on top */
	left: 30%;
	top: 25%;
	width: 500px; 
	height: 500px; 
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-container {
	width:88%;
	margin:3% auto;
}

/* Modal Content/Box */
.modal-content {
	color:#fff;
	background-color: transparent;
	margin: 0 auto; /* 15% from the top and centered */
	padding: 20px;
	width: 400px; /* Could be more or less, depending on screen size */
	overflow:hidden;
	border:none;
}

#modal-img {
	display:inline;
	float:left;
	width:20%;
}

.modal-header {
	display: inline;
	float:left;
	text-decoration: none;
	border-bottom: 0px;
	font-size:21px;
}

/* Login Form Styling */
.login-container {
	display:block;
	float:left;
	margin:2px;
}

.login-container label {
	font-weight: bold;
	font-size: 17px;
	width:100%;
}

.modal-content, #login-container, #signup-container {
	background-color:transparent;
	box-shadow:none;
}

/* Buttons and Login/Signup Link */
.btn-container {
	display:block;
	float:left;
	margin:5% auto;
	width:100%;
}

.alt-container {
	display:block;
	float:right;
	margin:5% auto;
	width:100%;
}

.alt-container span {
	position:relative;
	right:0;
	bottom:0;
	width:100%;
}

.alt-container a {
	text-align:right;
	float:right;
	color:#fff;
}

.alt-container a:hover, .alt-container a:focus, .alt-container a:active {
	text-decoration: none;
	color:#ffc942;
	cursor:crosshair;
}

/* The Close Button */
.close, .close-post {
	color: #fff;
	float: right;
	font-size: 50px;
	font-weight: bold;
	overflow:hidden;
}

.close:hover,
.close:focus, .close-post:hover, .close-post:focus {
	color: #ffc942;
	text-decoration: none;
	cursor: crosshair;
}

/* Modal Button Styling */
.modal button, .scroll-modal button {
	width:100px;
	height:50px;
	margin:5px;

	background-color: #222;
	border:0px;

	color:#ffc942;
	font-size: 15px;
	font-family:"Glegoo", serif;
}

.modal button:hover, .scroll-modal button:hover {
	border:2px #ffc942 solid;
}

/* ---------- DASHBOARD  / HEADER ---------- */

.dash-container {
	width:90%;
	margin:0 auto;	
}

#dash-header {
	width:90%;
	height:300px;
	position:fixed;
	top:50px;
	margin:0 auto;

	background-color: #fff;
	border-width:0px 0px 10px 0px;
	border-color:#222;
	border-style:solid;

	overflow:hidden;
}

#dash-username {
	z-index: 20;
	position:fixed;
	float:right;
	top:10%;
	right:10%;
}

#hivehexbg {
	position:relative;
	float:left;
	left:0%;
	overflow:hidden;

	height:auto;
	width:100%;
	z-index: 14;

	display:block;
	background-size:cover;
}

.trim {
	max-height:280px;
	max-width: 2000px;
	overflow: hidden;
	float:left;
}

@media screen and (max-width:641px) {
	#hivehexbg {
		position:relative;
		top:100px;
		width:100%;
		height:50%;
	}

	.trim {
		max-height: 100%;
		max-width: 100%;
		overflow:hidden;
		float:left;
	}
}

/* ---------- DASHBOARD  / BUTTONS ---------- */

#dash-btns {
	background-color: #222;
	z-index:15;

	width:90%;
	height:350px;
	position:fixed;
	top:50%;

	border-width:10px 0px 10px 0px;
	border-color:#fff;
	border-style:solid;

	margin:0 auto;
}

#interview-btn, #studyguide-btn, #viewpost-btn, #home-btn {

	/* button styling */
	width:210px;
	height:60px;

	padding:5px;

	background-color: #222;
	border:3px #ffc942 solid;

	color:#ffc942;
	font-size: 15px;
	font-family:"Glegoo", serif;

	/* button positioning */
	position:relative;
	margin:2% 3%;
}

.dash-btn-container {
	position:relative;
	top:22%;
	width:40%;
	margin:0 auto;
}

#interview-btn:hover, #studyguide-btn:hover, #viewpost-btn:hover, #home-btn:hover {
	border:3px #fff solid;
}

@media screen and (max-width:492px) {

	.dash-btn-container {
		top:10%;
		width:70%;
		margin:0 auto;
	}

	#interview-btn, #studyguide-btn, #viewpost-btn, #home-btn {

		margin:2% 5%;
	}
}

@media screen and (min-width:493px) and (max-width:1430px) {

	.dash-btn-container {
		top:20%;
		width:100%;
		margin:0 auto;
	}

	#interview-btn, #studyguide-btn, #viewpost-btn, #home-btn {
		margin:2% 1%;
	}
}

/* ---------- MODAL USER POST ---------- */

.scroll-modal {
	position:fixed;
	z-index:23;
	left:10%;
	top:20%;
	width:80%;
	height:500px;

	overflow-y:scroll;

	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,0.8);
}

.scroll-modal h2 {
	display:block;
	float:left;
	text-decoration:none;
	border-bottom:0px;
	font-size:30px;
	color:#fff;
}

#post-content {
	width:90%;
	margin:0 auto;
}

/* button container styling */
.scroll-modal .close {
	right:5%;
}

.scroll-modal .btn-container {
	position:relative;
	bottom:10%;
	display:block;
	float:right;
	margin:5% auto;
	width:100%;
}

#posts-go-here {

}

/* ---------- INTERVIEW BODY CSS ---------- */


.interview-wrapper {
    height: 100%;
}

.interview-panel {
	margin: 50px 5px 5px 50px;
}

.interview-search-wrapper {
	margin-top: 100px;
}

.panel-footer {
	text-align: right;
}
.panel-title {
	font-weight: bold;
	font-size: 22px;
	color: #FFFFFF;
}

.panel-heading{
	background-color: #000000;
}

.panel-default>.panel-heading, .panel-footer {
    color: #333;
    background-color: #000000;
    border-color: #000000;
}

.read-more {
	color: #FFFFFF;
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
}

a.read-more:hover {
	color: #FFFFFF;
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
	font-weight: bold;
}
